<div class="article-page">
  <div class="banner">
    <div class="container" *ngIf="article">
      <h1>{{ article.title }}</h1>
      <div class="article-meta">
        <app-user-link
          [username]="article.author.username"
          [userImage]="article.author.image"
          [date]="article.createdAt"
        ></app-user-link>
        <span *ngIf="isAuthor$ | async">
          <a
            [routerLink]="['/articles', article.slug, 'edit']"
            class="btn btn-outline-secondary btn-sm"
          >
            <i class="ion-edit"></i>
            Edit Article
          </a>
          <button
            class="btn btn-outline-danger btn-sm"
            (click)="deleteArticle()"
          >
            Delete Article
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="container page">
    <app-loading *ngIf="isLoading$ | async"></app-loading>
    <app-error-message *ngIf="error$ | async"></app-error-message>

    <div class="row article-content" *ngIf="article">
      <div class="col-xs-12">
        <div>
          <p>{{ article.body }}</p>
        </div>
        <app-tag-list [tags]="article.tagList"></app-tag-list>
      </div>
    </div>
  </div>
</div>
