.info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}

.date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

.author {
  display: block;
  font-weight: 500;
}
