.articles-toggle {
  margin: 1.5rem 0 -1px;
}

.user-info {
  text-align: center;
  background: #f3f3f3;
  padding: 2rem 0 1rem;
}

.user-info .user-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 1rem;
}

.user-info h4 {
  font-weight: 700;
}

.user-info p {
  margin: 0 auto 0.5rem;
  color: #aaa;
  max-width: 450px;
  font-weight: 300;
}

.user-info .action-btn {
  float: right;
  color: #999;
  border: 1px solid #999;
}
